body {
	background-color: #95bbce;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.intro {
	margin: 30px 0px;
	font-weight: bold;
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
    text-shadow: 0px 0px 1px black;
	font-family:cursive;
}
h1 span{
    color: rgb(226, 43, 83);
}
h2{
    color: #ffffff;
    text-shadow: 0px 0px 3px black;
}

p {
	font-weight: 600;
}

#first {
	margin-top: 10px;
	color: #ffff00;
    text-shadow: 0px 0px 1px black;
	font-weight: bold;
}

#second {
	color: #ff00ee;
	font-weight: bold;

}

#third {
	color: #400bff;
	margin-bottom: 30px;
	font-weight: bold;
}

#enter {
	padding: 0px 10px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	background-color: #fb0505;
	transition: all 0.1s ease;
	font-size: 20px;
	font-weight:700 ;
	margin-left: 10px;
	margin-top: 5px;
	text-shadow: 0px 0px 3px black;
	border: none;
}

#enter:hover{
	scale: 0.9;
}

ul {
	text-align: left;
	margin-top: 20px;
}

li {
	list-style: none;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: bolder;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #f3a411;
	transition: all 0.5s ease;
	text-shadow: 0px 0px 3px black;
	}

li:hover {
	background: #c9dd2d;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	font-weight: 800;
}

input {
	border-radius: 5px;
	min-width: 65%;
	padding: 5px;
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 0px 0px 1px black;
}
.done {
	background: #51DF70 !important;
	color: #ffffff;
	font-weight: bolder;
}

.delete {
	display:none;
}

